<!DOCTYPE html>
<html lang="en">

{% include "head-post.html" %}

<body>
  <div class="container brown">

    {% include "blog-titulo.html" %}

    <div class="row">

      <div class="col s12 m12">

        <div class="card">

          {% if article.image %}
          <div class="card-image">
            <img src="../theme/images{{article.image}}">
          </div>
          {% endif %}

          <div class="card-content">
            <span class="post-titulo card-title"><h1>{{ article.title }}</h1></span>
            <p>{{ article.date.strftime('%d %B %Y') }}</p>
            {% include "social-media-buttons.html" %}
            {{ article.content }}
            {% include "social-media-buttons.html" %}
          </div>

        </div>

    </div>

  </div>
  </div>
</body>

</html>
