<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
    <div class="container brown">

        {% include "blog-titulo.html" %}

        <!-- Page Layout here -->
        <div class="row">

          {% include "sobre.html" %}

          <div class="col s12 m9">
                <div class="card">

                    {% if articles[0].image %}
                    <div class="card-image">
                      <img src="theme/images{{articles[0].image}}">
                    </div>
                    {% endif %}

                    <div class="card-content black-text">
                        <a href="{{ articles[0].slug}}.html"><span class="post-index-titulo card-title orange lighten-3">{{ articles[0].title }} </span></a>
                      <p>{{articles[0].summary}}</p>
                    </div>
                </div>

              <div class="row">

                  {% for post in articles[1:3] %}
                  <div class="col m6 s12">
                      <div class="card">
                        <div class="card-content black-text">
                            <a href="{{ post.slug}}.html"><span class="post-index-titulo card-title orange lighten-3">{{ post.title }}</span></a>
                          <p>{{ post.summary }}</p>
                        </div>
                      </div>
                  </div>
                  {% endfor %}

              </div>

              {% include "sobre-responsive.html" %}

              <div class="outros-textos-link"><h3><a href="outros-textos.html">Outros textos</a></h3></div>

          </div>

        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
{% include "footer.html" %}
</html>