<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    <div class="container brown">

        {% include "blog-titulo.html" %}

        <!-- Page Layout here -->
        <div class="row">

          {% include "sobre.html" %}

          <div class="col s12 m8">
                  {% if not articles[3:] %}
                    <p>Em processo de restaurar os outros textos.</p>
                    <p>Você pode encontrar meus textos no <a href="https://medium.com/@roselmamendes">medium</a></p>
                  {% endif %}

                  {% for post in articles[3:] %}
                    <div class="card">
                      {% if post.image %}
                        <div class="card-image">
                          <img src="theme/images{{post.image}}">
                        </div>
                      {% endif %}

                      <div class="card-content black-text">
                          <a href="{{ post.slug}}.html"><span class="post-index-titulo card-title orange lighten-3">{{ post.title }}</span></a>
                        <p>{{ post.summary }}</p>
                      </div>
                    </div>
                  {% endfor %}

              {% include "sobre-responsive.html" %}

          </div>

        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
  </html>