<div class="sobre col m4">
  <div class="card">
    <div class="card-image">
      <div class="video-container">
      <iframe height="315" src="https://www.youtube.com/embed/HlckeATMxtw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p><a href="https://pt.wikipedia.org/wiki/The_Boondocks">The Boondocks</a></p>
    </div>
    <div class="card-image">
      <img src="theme/images/roselma-mendes-square.jpg">
    </div>
    <div class="card-content">
        <span class="post-titulo card-title">Roselma Mendes</span>
        <a class="social-share" href="{{ SOCIAL[0][1] }}" title="{{ AUTHOR }} on Twitter" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>

        <a class="social-share" href="{{ SOCIAL[1][1] }}" title="{{ AUTHOR }} no Github" target="_blank"><i class="fab fa-github fa-2x"></i></a>

      <p>Feminista Negra Interseccional que ama programação e trabalha na área desde 2010. Baiana. Uma ThoughtWorker. Curte programação fullstack. Se interessa por Arquitetura de Sistemas: Entrega de Software, infra, design de aplicações, segurança, e por ai vai.</p>
    </div>
  </div>
</div>