<div class="sobre col m3">
  <div class="card">
    <div class="card-image">
      <img src="http://www.newsarama.com/images/i/000/180/266/original/4803942-3473820758-latest.jpg">
      <span class="card-title">Monica Rambeau - Capitã Marvel</span>
    </div>
    <div class="card-content">
        <span class="post-titulo card-title">Roselma Mendes</span>
        <a class="social-share" href="{{ SOCIAL[0][1] }}" title="{{ AUTHOR }} on Twitter" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>

        <a class="social-share" href="{{ SOCIAL[1][1] }}" title="{{ AUTHOR }} no Github" target="_blank"><i class="fab fa-github fa-2x"></i></a>

      <p>Feminista Negra Interseccional que ama programação. Baiana. Uma ThoughtWorker com 8 anos de experiência na área de desenvolvimento. Curte programação fullstack. Se interessa por Arquitetura de Sistemas: Entrega de Software, infra, design de aplicações, segurança, e por ai vai.</p>
    </div>
  </div>
</div>