<div class="sobre-responsive col s12">
    <div class="card">
    <div class="card-image">
      <img src="http://www.newsarama.com/images/i/000/180/266/original/4803942-3473820758-latest.jpg">
      <span class="card-title">Monica Rambeau - Capitã Marvel</span>
    </div>
    <div class="card-content">
        <span class="post-titulo card-title">Blog da Roselma Mendes</span>
        <a class="social-share" href="https://twitter.com/{{ SOCIAL[0][1] }}" title="{{ AUTHOR }} on Twitter" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>

        <a class="social-share" href="https://github.com/{{ SOCIAL[1][1] }}" title="{{ AUTHOR }} no Github" target="_blank"><i class="fab fa-github fa-2x"></i></a>

      <p>Feminista Negra Interseccional que ama programação. Baiana. Uma ThoughtWorker com quase 7 anos de experiência na área de desenvolvimento. Curte programação Web, fullstack, backend. Se interessa por Arquitetura de Sistemas: Entrega de Software, um pouco de Infra, design de aplicações, segurança, e por ai vai.</p>
    </div>
  </div>
</div>