<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/post.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/premonition.css" media="screen" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  
  <!-- Place this data between the <head> tags of your website -->
<title>{{site.title}}</title>
<meta name="description" content="{{page.excerpt}}" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">

<!-- Open Graph data -->
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:image" content="{{site.url}}/images/{{page.image.feature}}" />
<meta property="og:description" content="{{page.excerpt}}" />
</head>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% if site.jektify.enable == true and site.jektify.toggle.enable == true %}
<script src="{{ "/assets/vendor/jektify/js/jektify.min.js" | prepend: site.baseurl }}" ></script>
{% endif %}
