<div class="social-media">
<div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>

  <a class="twitter-share-button"
     href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}&via={{site.twitter_username}}"
     data-size="small">
    Tweet
  </a>

  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
  <script type="IN/Share" data-url="{{site.url}}{{page.url}}"></script>
  </div>
