//
// Images
// --------------------------------------------------

.profile-img {
  width: 125px;
  margin-bottom: 25px;
  border-radius: 100%;
  position: relative;
  -webkit-transform: translate(1%, 70%);
  -moz-transform: translate(1%, 70%);
  @media only screen and (max-width : 480px) {
    -webkit-transform: translate(1%, 20%);
    -moz-transform: translate(1%, 10%);
  }
}

.img {
  margin-top: $leading;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img--fullContainer img {
  max-width: 80%;
  border: 0;
  border-radius: 4px;
  align-content: center;
}

.img--Container img {
  width: 50%;
}

.img--5xLeading {
  height: 5*$leading;
}

.img--6xLeading {
  height: 6*$leading;
}

.img--7xLeading {
  height: 7*$leading;
}

.img--8xLeading {
  height: 8*$leading;
}

.img--9xLeading {
  height: 9*$leading;
}

.img--10xLeading {
  height: 10*$leading;
}

.img--11xLeading {
  height: 11*$leading;
}

.img--12xLeading {
  height: 12*$leading;
}

.img--13xLeading {
  height: 13*$leading;
}

.img--14xLeading {
  height: 14*$leading;
}

.img--15xLeading {
  height: 15*$leading;
}

.img--16xLeading {
  height: 16*$leading;
}
