{% include head.html %}
{% include header.html %}

<div class="post-head">
  {% if page.image %}
     <img src="/images/{{page.image.feature}}" />
  {% endif %}
     <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
</div>

<div class="post-content">
  <h1><span>{{page.title}}</span></h1>
  <p class-"post-date">
    {{ page.date | date: "%d" }}
	    {% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}Janeiro
  {% when '2' %}Fevereiro
  {% when '3' %}Março
  {% when '4' %}Abril
  {% when '5' %}Maio
  {% when '6' %}Junho
  {% when '7' %}Julho
  {% when '8' %}Agosto
  {% when '9' %}Setembro
  {% when '10' %}Outubro
  {% when '11' %}Novembro
	    {% when '12' %}Dezembro
	    {% endcase %}
{{ page.date | date: "%y" }}
  </p>
  <div>
  {% include social-media-buttons.html %}
  {{ content }}
  {% include social-media-buttons.html %}
  </div>
</div>
{% include footer.html %}
